<configuration>
  <packageSources>
    <clear/>
    <add key="github" value="https://nuget.pkg.github.com/YuanJianTing/index.json "/>
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="YuanJianTing" />
      <add key="ClearTextPassword" value="127dea3ae2a153192d5c6ec64adcbe9d2a059fa5" />
    </github>
  </packageSourceCredentials>
</configuration>